<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,600' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="css/main.css")
    title Document
  body
    .container
      h1 Wikipedia Viewer
      form(action="").search.input
        .search-container
          i.ion-ios-search-strong
          input(type="text", placeholder="Search")
        a(target="_blank",href="https://en.wikipedia.org/wiki/Special:Random").btn Random Article
      section.articles
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="js/main.js")
  
